In [ ]:
#COMMENTS-not executed by compiler 
#it should be readable /
#it is used to enhance teh code readebility

In [ ]:
#python is case sensitive

In [2]:
print("hello,world")

hello,world

In [3]:
#used to display output on the screen
#multiple value
print("hello","my name is:","renu")

hello my name is: renu

In [4]:
#using sap  (shift+tab)
print("hello","my name is","renu",sep="_")

hello_my name is_renu

In [18]:
#diff datatype   (no limit how many character )
print("india",5,True)

india 5 True

In [5]:
#using end
print("welcom",end=" ")
print("to python")

welcom to python

In [6]:
print("welcom")
print("to python")

welcom
to python

In [7]:
print(10+5)

15

In [15]:
print(5.6)

5.6

In [16]:
print(false)

NameError: name 'false' is not defined

In [17]:
print(False)

False

In [8]:
#using variable
x=10
print(x)

10

In [9]:
print("the value of x is :",x)

the value of x is : 10

In [10]:
print("age:",25)

age: 25

MISTAKES

In [12]:
Print("hello")   # IT TAKES AS VARIABLE

hello

In [ ]:
print("hello"

In [13]:
print(hello)  # take as variable

NameError: name 'hello' is not defined

In [14]:
#' commas is big problem 
print('it's fine')

SyntaxError: unterminated string literal (detected at line 2) (2002530278.py, line 2)

DATA TYPE
BASIC- int,float,complex,boolean,string
container type- list,tuple,sets,dicionary
userdefined- class

define what types of data will be stored in variable 
variable can hold values of diff data type 
use type()

In [20]:
print(4)     # range no issue
print(1e307)

4
1e+307

In [34]:
print(4.5)
print(True)
print(4+5j)

4.5
True
(4+5j)

In [31]:
print (len('hello'))
print(len("hello"))
print(len("""hello"""))
print(len("""hello
hru"""))

5
5
5
8

In [32]:
print ('hello')
print("hello")
print("""hello""")
print("""hello
hru""")

hello
hello
hello
hello
hru

In [35]:
#container type
#list orderd/mutable(can be change,add,remove,modify)/can hold diff datatype

In [36]:
l1=[1,"renu","employee"]

In [37]:
type(l1)

list

In [38]:
print(l1)

[1, 'renu', 'employee']

In [42]:
l1[2]

'employee'

In [44]:
l1[0:3]

[1, 'renu', 'employee']

In [45]:
#tuples-order/immutable/it is useful for data that you remain data constant
t1=(1,"renu","employee")

In [46]:
t1

(1, 'renu', 'employee')

In [47]:
#sets it remove duplicates
s1={1,2,3,4,6,7,8,1,2}
s1

{1, 2, 3, 4, 6, 7, 8}

In [48]:
#dictionary - very useful/searhing is very fast /key-value pair
dict1={'name':"nitish",'age':23,'gender':'male'}
dict1

{'name': 'nitish', 'age': 23, 'gender': 'male'}

In [50]:
dict1['name']

'nitish'

KEYWORD(predefine)/VARIABLE(user define)
variable name should not be same as keyword name
Keywords are special words that are reserved by Python because they have predefined meanings and uses. You cannot use them as variable names, function names, or identifiers. Examples include if, else, while, for, def, class,

In [54]:
import keyword

print(keyword.kwlist) #- Returns a list of strings, where each string is a Python keyword.

In [ ]:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 
 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 
 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield

IDENTIFIER
An identifier is the name used to identify a variable, function, class, module, or object. 
It’s basically any name you define in your code

Rules for Identifiers:
- Must begin with a letter (A–Z or a–z) or an underscore _
- Can contain letters, digits (0–9), and underscores
- Python keyword (like if, for, class, etc.) CAN NOT BE USED AS IDENTIFIER
- Are case-sensitive (Name and name are different)

In [ ]:

myVar = 10       # 'myVar' is an identifier
def greet():     # 'greet' is an identifier
class Person:    # 'Person' is an identifier

In [ ]:
name='nitish'
name1='nitish'
1name='nitish'# wrong
_name='nitish'
#name='nitish'
first_name='nitish'
first-name='nitish'

In [55]:
first-name='nitish'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3656193502.py, line 1)

In [56]:
name='nitish'

In [57]:
name

'nitish'